[submodule "upper/CS302/assignments/302ass1hell/302-1"]
	path = upper/CS302/assignments/302ass1hell/302-1
	url = https://gitlab.cecs.pdx.edu/modiaz/302-1
[submodule "upper/CS302/assignments/cs302-ass2-mollydiaz"]
	path = upper/CS302/assignments/cs302-ass2-mollydiaz
	url = https://gitlab.cecs.pdx.edu/modiaz/cs302-ass2-mollydiaz
[submodule "upper/Programming-Languages--358-"]
	path = upper/Programming-Languages--358-
	url = https://github.com/SudoMolly/Programming-Languages--358-
[submodule "upper/CS410P_WINTER"]
	path = upper/CS410P_WINTER
	url = git@github.com:SudoMolly/JoyOfCodingWinter2026.git
