[submodule "upper/CS302/assignments/302ass1hell/302-1"]
	path = upper/CS302/assignments/302ass1hell/302-1
	url = git@gitlab.cecs.pdx.edu:modiaz/302-1.git
[submodule "upper/CS302/assignments/cs302-ass2-mollydiaz"]
	path = upper/CS302/assignments/cs302-ass2-mollydiaz
	url = git@gitlab.cecs.pdx.edu:modiaz/cs302-ass2-mollydiaz.git
[submodule "upper/Programming-Languages--358-"]
	path = upper/CS358
	url = git@github.com:SudoMolly/CS358.git
[submodule "upper/CS410P_WINTER"]
	path = upper/CS410P_WINTER
	url = git@github.com:SudoMolly/JoyOfCodingWinter2026.git
[submodule "upper/CS358"]
	path = upper/CS358
	url = git@github.com:SudoMolly/CS358.git
[submodule "upper/CS496"]
	path = upper/CS496
	url = git@gitlab.cecs.pdx.edu:modiaz/netsec-w26-modiaz.git
[submodule "upper/410Kata"]
	path = upper/CS410P_WINTER/KatasWinter2026
	url = git@github.com:JoyOfCodingPDX/KatasWinter2026.git
